%div{'ng-app' => 'browse'}
	.row
		.col-lg-3
			= render 'allegro_browser/partials/category_select'
		.col-lg-9
			= render 'allegro_browser/partials/filter_form'
	.row
		.col-lg-12
			= render 'allegro_browser/partials/auctions_table'
